<script>
  let vorname = "Franz";

  function tuwas() {
    vorname = vorname + "!";
  }
</script>

<main>
  <div />
  <h1>Svelte Beispiel</h1>
  <p>Hallo {vorname}</p>
  <button on:click={tuwas}>Tuwas</button>

  <div class="card" />
</main>

<style>
  h1 {
    background-color: green;
    color: white;
    padding: 0.5em;
  }
  button {
    background-color: lightgreen;
  }
</style>
